<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理登陆</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/me.css"/>
</head>
<body>
<br>
    <div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
        <div class="ui container">
            <div class="ui middle aligned center aligned grid">
                <div class="column">
                    <h2 class="ui teal image header">
                        <div class="content">
                            <div class="menu">
                                <a href="#"  th:href="@{/admin}" class="item teal">账号登陆</a>
                                <a href="#" th:href="@{/admin/email}" class="item teal">邮箱登陆</a>
                            </div>
                        </div>
                    </h2>
                    <form action="#" method="post" th:action="@{/admin/loginByEmail}" class="ui large form">
                        <div class="ui segment">
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="mail icon"></i>
                                    <input type="email" name="email" placeholder="邮箱">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <input name="mailcode" type="text" placeholder="请输入邮件验证码" style="width: 200px;">
                                    <a href="#" th:src="@{/admin/freshEmailCode}">
                                        <p>获取验证码</p>
                                    </a>
                                </div>
                            </div>
                            <button class="ui fluid large teal submit button">登   陆</button>
                        </div>
                        <div class="ui error mini message"></div>
                        <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<div class="m-padded m-fixed m-right-bottom">
    <div class="ui vertical icon buttons">
        <button type="button" class="ui wechat icon red button"><i class="wechat icon"></i></button>
        <a href="#" class="ui  button"><i class="chevron up icon"></i></a>
    </div>
</div>

<div id="qrcode" class="ui wechat-qr flowing popup transition hidden m-padded-mini" style="width: 120px !important;">
    <!-- <img src="../static/images/wechat.jpg" alt="" style="width: 110px !important;"> -->
</div>
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="../../static/js/jquery-3.3.1.min.js"></script>
<script src="../../static/js/semantic.min.js"></script>
<script src="../../static/lib/qrcode/qrcode.min.js" th:src="@{/lib/qrcode/qrcode.min.js}"></script>
<!--/*/</th:block>/*/-->

<script>
    $('.wechat').popup({
        popup : $('.wechat-qr'),
        position: 'left center'
    });

    var serurl = /*[[#{blog.serurl}]]*/"http://www.littlecow.site:9090/admin/email";  //访问的项目根地址
    var qrcode = new QRCode("qrcode", {
        text: serurl,
        width: 110,
        height: 110,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });

    $('#toTop-button').click(function () {
        $(window).scrollTo(0,500);
    });
    <!-- 用于表单验证 -->
    $(".ui.form").form({
        fields: {
            email: {
                identifier: 'email',
                rules: [{
                    type: 'empty',
                    prompt: '请输入邮箱'
                }]
            },
            mailcode: {
                identifier: 'mailcode',
                rules: [{
                    type: 'empty',
                    prompt: '请输入验证码'
                }]
            }
        }
    });

</script>

</body>
</html>
