<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/semantic.min.css"/>
    <link rel="stylesheet" href="../static/css/me.css"/>
</head>
<body>
<!--  导航 -->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">littlecow</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>&nbsp;&nbsp;首页&nbsp;&nbsp;</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>&nbsp;&nbsp;分类&nbsp;&nbsp;</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>&nbsp;&nbsp;标签&nbsp;&nbsp;</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>&nbsp;&nbsp;归档&nbsp;&nbsp;</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>&nbsp;&nbsp;关于我&nbsp;&nbsp;</a>
            <a target="_blank" href="#" class="m-item item m-mobile-hide"><i class="mini user outline icon"></i>&nbsp;&nbsp;登录后台&nbsp;&nbsp;</a>
            <div class="m-item right item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input id ="searchBtn" type="text" placeholder="Search..."/>
                    <i class="search link icon"></i>
                </div>
                <button id="clear-btn1" class="m-item right item m-mobile-hide ui compact button">clear</button>
            </div>
            <h6 style="color:royalblue" id="dateTime"></h6>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show dropdown">
        <i class="sidebar icon dropdown"></i>
    </a>
</nav>

<!-- content -->
<div class="m-container m-padded-tb-big">
    <div class="ui container">
        <div class="ui stackable grid">
            <!-- 左边内容区(博客列表) -->
            <div class="eleven wide column">
                <!-- header -->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <div class="ui teal header">博客</div>
                        </div>
                        <div class="right aligned column">
                            共 <h3 class="ui orange header m-inline-block m-text-thin" th:text="${pageInfo.total}">14</h3> 篇
                        </div>
                    </div>
                </div>
                <!-- content -->
                <div class="ui attached segment">

                    <div class="ui vertical padded segment m-padded-tb-big" th:each="blog : ${pageInfo.list}">
                        <div class="ui middle aligned mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header"><a href="#" class="m-black" target="_blank" th:text="${blog.title}" th:href="@{/blog/{id}(id = ${blog.id})}">你真的理解什么是财富自由吗?</a></h3>
                                <p class="m-text" th:text="|${blog.description}......|">
                                    正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...
                                </p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <!--th:src="@{${comment.avatar}}"-->
                                                <a th:href="@{/about}">
                                                <img src="../static/files/avatar.jpg" th:src="@{/files/avatar.jpg}" style="width: 25px; height:25px" alt=""
                                                     class="ui avatar image">
                                                </a>
                                                <div class="content"><a class="header" th:href="@{/about}" th:text="${blog.user.nickname}">刘健</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>
                                                <span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">2022-04-17</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>
                                                <span th:text="${blog.views}">521</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column"><a href="#" th:href="@{'/types/'+${blog.type.id}}"
                                                                                   class="ui basic teal label m-padded-tiny m-text-thin" th:text="${blog.type.name}">认知升级</a>
                                    </div>
                                </div>
                            </div>


                            <div class="five wide column">
                                <a href="#" target="_blank" th:href="@{/blog/{id}(id = ${blog.id})}">
                                    <img src="https://cdn.mom1.cn/?mom=302" th:src="@{${blog.firstPicture}}" alt="" style="height: 160px ;width: 285px"
                                         class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- footer -->
                <div class="ui bottom attached segment">
                    <div class="ui mini pagination menu">
                        <!--此处还存在问题，条件查询时不能翻页，无法共用请求-->
                        <div class="item"><a th:href="@{/index}">首页</a></div>
                        <div class="item"><a th:href="@{/index(pagenum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a></div>
                        <div class="item"><a th:href="@{/index(pagenum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a></div>
                        <div class="item"><a th:href="@{/index(pagenum=${pageInfo.pages})}">尾页</a></div>
                    </div>
                </div>
                <div class="ui mini segment m-inline-block">
                    <p class="text m-font-color">当前第<span class="m-teal" th:text="${pageInfo.pageNum}"></span>页，总<span class="m-teal" th:text="${pageInfo.pages}"></span>页，共<span class="m-teal" th:text="${pageInfo.total}"></span>条记录</p>
                </div>
            </div>

            <!-- 右边内容区(top) -->
            <div class="five wide column">
                <!-- 分类 -->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>分类
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/types/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <div class="ui fluid vertical menu">
                            <a href="#" th:href="@{/types/{id}(id=${type.id})}" target="_blank" class="item" th:each="type : ${types}">
                                <span th:text="${type.name}">学习日志</span>
                                <div class="ui teal basic left pointing label" th:text="${#arrays.length(type.blogs)}">13</div>
                            </a>
                            <!--/*-->
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <!--*/-->
                        </div>
                    </div>
                </div>
                <!-- 标签 -->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i>标签
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/tags/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" class="ui teal basic left pointing label m-margin-padded-tiny" th:each="tag : ${tags}">
                            <span th:text="${tag.name}">方法论</span>
                            <div class="detail" th:text="${#arrays.length(tag.blogs)}">13</div>
                        </a>
                      <!--/*-->
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-padded-tiny">
                            方法论
                            <div class="detail">13</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-padded-tiny">
                            方法论
                            <div class="detail">13</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-padded-tiny">
                            方法论
                            <div class="detail">13</div>
                        </a>
                        <!--*/-->
                    </div>
                </div>
                <!-- 最新推荐 -->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <i class="bookmark icon"></i>最新推荐
                    </div>

                    <div class="ui segment" th:each="blog : ${recommendBlogs}">
                        <a class="m-black m-text-thin" href="" target="_blank" th:text="${blog.title}" th:href="@{/blog/{id}(id=${blog.id})}">用户故事（User Story）</a>
                    </div>

                    <!--/*-->
                    <div class="ui segment">
                        <a class="m-black m-text-thin" href="" target="_blank">用户故事（User Story）</a>
                    </div>
                    <div class="ui segment">
                        <a class="m-black m-text-thin" href="" target="_blank">用户故事（User Story）</a>
                    </div>
                    <div class="ui segment">
                        <a class="m-black m-text-thin" href="" target="_blank">用户故事（User Story）</a>
                    </div>
                    <!--*/-->
                </div>
                <!-- 热门文章 -->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <i class="fire icon"></i>热门文章
                    </div>

                    <div class="ui segment" th:each="blog : ${hotBlogs}">
                        <a class="m-black m-text-thin" href="" target="_blank" th:text="${blog.title}" th:href="@{/blog/{id}(id=${blog.id})}">用户故事（User Story）</a>
                        <div class="ui black basic left pointing label m-text-thinthin" th:text="${blog.views} + '次浏览'">13次浏览</div>
                    </div>

                    <!--/*-->
                    <div class="ui segment">
                        <a class="m-black m-text-thin" href="" target="_blank">用户故事（User Story）</a>
                    </div>
                    <div class="ui segment">
                        <a class="m-black m-text-thin" href="" target="_blank">用户故事（User Story）</a>
                    </div>
                    <div class="ui segment">
                        <a class="m-black m-text-thin" href="" target="_blank">用户故事（User Story）</a>
                    </div>
                    <!--*/-->
                </div>
                <!-- 二维码 -->
                <h4 class="ui horizontal divider header m-margin-top-large">扫码关注我</h4>
                <div class="ui centered card" style="width: 11em;">
                    <img src="../static/images/wechat.png" th:src="@{/images/wechat.png}" alt="" class="ui rounded image">
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

</div>
<div class="m-padded m-fixed m-right-bottom">
    <div class="ui vertical icon buttons">
        <button type="button" class="ui wechat icon red button"><i class="wechat icon"></i></button>
        <a href="#" class="ui  button"><i class="chevron up icon"></i></a>
    </div>
</div>

<div id="qrcode" class="ui wechat-qr flowing popup transition hidden m-padded-mini" style="width: 120px !important;">
    <!-- <img src="../static/images/wechat.jpg" alt="" style="width: 110px !important;"> -->
</div>
<!-- 底部footer -->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.png" th:src="@{/images/wechat.png}" class="ui rounded image" style="width: 110px; height: 110px;">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-mini">我的在线主页</h4>
                <div class="ui inverted link list">
                    <a href="https://github.com/little111cow" target="_blank" class="item m-text-thin">github</a>
                    <a href="https://gitee.com/little111cow" target="_blank" class="item m-text-thin">gitee</a>
                    <a href="https://www.bilibili.com/" target="_blank" class="item m-text-thin">哔哩哔哩</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-mini">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">Email: whu_jianliu@163.com</a>
                    <a href="#" class="item m-text-thin">QQ: 2431148967</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-opacity-mini">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">
                    这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...
                </p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2022  Designed by liujian</p>
    </div>

</footer>

/*/<th:block th:fragment="_fragments :: script">/*/
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
    <script src="../static/lib/qrcode/qrcode.min.js" th:src="@{/lib/qrcode/qrcode.min.js}"></script>
    <!--显示时间日期-->
    <script type="text/javascript">
        /**
         *获取当前时间
         *format=1精确到天
         *format=2精确到分
         */
        function getCurrentDate() {
            var now = new Date();
            var year = now.getFullYear(); //得到年份
            var month = now.getMonth();//得到月份
            var date = now.getDate();//得到日期
            var day = now.getDay();//得到周几
            var hour = now.getHours();//得到小时
            var minu = now.getMinutes();//得到分钟
            var sec = now.getSeconds();//得到秒
            month = month + 1;
            if (month < 10) month = "0" + month;
            if (date < 10) date = "0" + date;
            if (hour < 10) hour = "0" + hour;
            if (minu < 10) minu = "0" + minu;
            if (sec < 10) sec = "0" + sec;
            var time = "";
            //精确到分
            time = year + "年" + month + "月" + date+ "日  " + hour + ":" + minu + ":" + sec;
            return time;
        }
    </script>
    <script type="text/javascript">
        setInterval(function() {
            $('#dateTime').text(getCurrentDate());
        }, 1000);
    </script>
/*/</th:block>/*/

<script>
    $('.wechat').popup({
        popup : $('.wechat-qr'),
        position: 'left center'
    });

    var serurl = /*[[#{blog.serurl}]]*/"http://www.littlecow.site:9090";  //访问的项目根地址

    var qrcode = new QRCode("qrcode", {
        text: serurl,
        width: 110,
        height: 110,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });

    $('#toTop-button').click(function () {
        $(window).scrollTo(0,500);
    });

    $(function () {
        $(".menu.toggle").click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        })
    });

    //清除输入框的内容
    $("#clear-btn1")
        .on('click', function(){
            document.getElementById('searchBtn').value ="";
        });
</script>
</body>
</html>
