<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搜索结果页</title>
    <link rel="stylesheet" type="text/css" href="../static/css/semantic.min.css"/>
    .
    <link rel="stylesheet" type="text/css" href="../static/css/me.css"/>
</head>
<body>
<!--  导航 -->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">littlecow</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>&nbsp;&nbsp;首页&nbsp;&nbsp;</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>&nbsp;&nbsp;分类&nbsp;&nbsp;</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>&nbsp;&nbsp;标签&nbsp;&nbsp;</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>&nbsp;&nbsp;归档&nbsp;&nbsp;</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>&nbsp;&nbsp;关于我&nbsp;&nbsp;</a>
            <a target="_blank" href="#" class="m-item item m-mobile-hide"><i class="mini user outline icon"></i>&nbsp;&nbsp;登录后台&nbsp;&nbsp;</a>
            <div class="m-item right item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search..."/>
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!-- content -->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <!-- header -->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <div class="ui teal header">搜索结果</div>
                </div>
                <div class="right aligned column">
                    共 <h3 class="ui orange header m-inline-block m-text-thin" th:text="${pageInfo.total}">14</h3> 篇
                </div>
            </div>
        </div>


        <div class="ui teal top attached segment">
                <div class="ui vertical padded segment m-padded-tb-big" th:if="${pageInfo.total == 0}">
                        <div class="ui info message m-padded-tb-huge">
                            <div class="ui container">
                                <p>没有查询到相关数据, 请检查关键词重新输入~~~~</p>
                            </div>
                        </div>
                </div>

                <div class="ui vertical padded segment m-padded-tb-big" th:each="blog : ${pageInfo.list}">
                    <div class="ui middle aligned mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header"><a href="#" class="m-black" target="_blank" th:text="${blog.title}" th:href="@{/blog/{id}(id = ${blog.id})}">你真的理解什么是财富自由吗?</a></h3>
                            <p class="m-text" th:text="|${blog.description}......|">
                                正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...
                            </p>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="../static/images/avatar.jpg" th:src="@{/images/avatar.jpg}" style="width: 25px; height:25px" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a class="header" th:text="${blog.user.nickname}">刘健</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>
                                            <span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">2019-9-19</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>
                                            <span th:text="${blog.views}">521</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column"><a href="#" th:href="@{'/types/'+${blog.type.id}}" target="_blank"
                                                                               class="ui basic teal label m-padded-tiny m-text-thin" th:text="${blog.type.name}">认知升级</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank" th:href="@{/blog/{id}(id = ${blog.id})}">
                                <img src="../static/images/avatar.jpg" th:src="@{${blog.firstPicture}}" alt="" style="height: 160px"
                                     class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 分页 -->
    <div class="ui bottom attached segment">
        <div class="ui mini pagination menu">
            <!--多个查询条件用逗号隔开-->
            <div class="item"><a  th:href="@{/search(query=${query})}">首页</a></div>
            <div class="item"><a  th:href="@{/search(query=${query},pagenum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" >上一页</a></div>
            <div class="item"><a  th:href="@{/search(query=${query},pagenum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" >下一页</a></div>
            <div class="item"><a  th:href="@{/search(query=${query},pagenum=${pageInfo.pages})}">尾页</a></div>
        </div>
    </div>
    <div class="ui mini segment m-inline-block">
        <p class="text m-font-color">当前第<span class="m-teal" th:text="${pageInfo.pageNum}"></span>页，总<span class="m-teal" th:text="${pageInfo.pages}"></span>页，共<span class="m-teal" th:text="${pageInfo.total}"></span>条记录</p>
    </div>
    </div>
    <br>
    <br>

<!-- 底部footer -->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.png" class="ui rounded image" style="width: 110px; height: 110px;">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-mini">我的在线主页</h4>
                <div class="ui inverted link list">
                    <a href="https://github.com/little111cow" target="_blank" class="item m-text-thin">github</a>
                    <a href="https://gitee.com/little111cow" target="_blank" class="item m-text-thin">gitee</a>
                    <a href="https://www.bilibili.com/" target="_blank" class="item m-text-thin">哔哩哔哩</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-mini">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">Email: whu_jianliu@163.com</a>
                    <a href="#" class="item m-text-thin">QQ: 2431148967</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-opacity-mini">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">
                    这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...
                </p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2022  Designed by liujian</p>
    </div>
</footer>


<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/semantic.min.js"></script>
<script>
    $(function () {
        $(".menu.toggle").click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        })
    })

    //清除输入框的内容
    $("#clear-btn1")
        .on('click', function(){
            document.getElementById('searchBtn').value ="";
        });
</script>
</body>
</html>
